.navigation-link {
	text-decoration: none;
	color: white;
}

.navigation-link:hover {
	color: green!important;
}

p {
	color: white;
}

.card-line {
	background-color: white;
	width: 2px;
	height: 100%;
	margin: auto;
}